In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import knnregression
from sklearn import metrics

In [3]:
df=pd.read_csv('Freshmen.csv')
df.head()

,GPA,Miles from Home,College,Accommodations,Years Off,Part-Time Work Hours,Attends Office Hours,High School GPA
0,0.73,253,Social Sciences,Dorm,4,35,Sometimes,3.23
1,1.60,143,Social Sciences,Dorm,5,30,Never,2.35
2,2.17,171,Social Sciences,Dorm,0,25,Never,3.95
3,1.02,332,Sciences,Off-campus,5,30,Sometimes,3.44
4,3.14,112,Business,Dorm,0,25,Sometimes,3.20

In [4]:
# Change the data types of the categorical variables accordingly
df['College']=df['College'].astype('category')
df['Accommodations']=df['Accommodations'].astype('category')
df['Attends Office Hours']=df['Attends Office Hours'].astype('category')

In [5]:
# Generate dummy values of the categorical variables
df_dummies=pd.get_dummies(df)
df_dummies.head()

,GPA,Miles from Home,Years Off,Part-Time Work Hours,High School GPA,College_Business,College_Engineering,College_Liberal Arts,College_Sciences,College_Social Sciences,Accommodations_Dorm,Accommodations_Off-campus,Accommodations_Other,Attends Office Hours_Never,Attends Office Hours_Regularly,Attends Office Hours_Sometimes
0,0.73,253,4,35,3.23,0,0,0,0,1,1,0,0,0,0,1
1,1.60,143,5,30,2.35,0,0,0,0,1,1,0,0,1,0,0
2,2.17,171,0,25,3.95,0,0,0,0,1,1,0,0,1,0,0
3,1.02,332,5,30,3.44,0,0,0,1,0,0,1,0,0,0,1
4,3.14,112,0,25,3.20,1,0,0,0,0,1,0,0,0,0,1

In [6]:
# Specifying the X and Y
X_train=df_dummies.iloc[:,1:]
Y_train=df_dummies['GPA']

In [7]:
# Splitting data into 70:30 train:test ratio
X_train,X_test,Y_train,Y_test=train_test_split(X_train,Y_train,test_size=0.3,random_state=42)

In [8]:
#Changing dataframe to numpy
X_train = X_train.to_numpy()
Y_train = Y_train.to_numpy()
X_test = X_test.to_numpy()
Y_test = Y_test.to_numpy()

In [14]:
# Predict GPA
n_neighbors = 3
Y_pred = knnregression.predict(X_train,Y_train,X_test,n_neighbors)

In [15]:
print('Accuracy : {:^0.2f}'.
      format(metrics.mean_squared_error(Y_test,Y_pred)*100))

Accuracy : 82.88